body{
  background-color: #EEEEEE;
  padding: 0px; margin: 0px;
}
.body_class{
}
header{
  color: white;
  background-color: dimgray;
  border-bottom: 3px solid gray;
  text-align: right;
}
#main_img{
  padding: 10px;
}
.logo{
  float: left;
  font-size: 30px;
  font-weight: bold;
  padding-left: 40px;
  padding-top: 50px;
}
.container{/*내부의 float를 위해 hidden을 해서 전부 포함한다*/
  overflow: hidden;
}
aside{
  background-color: silver;
  font-size: 1rem;
  float: left;
  width: 200px;
  border-right: 3px solid gray;
}
.border_list{
  margin-right: 30px;
  border-bottom: 2px solid #efefef;
}
section{
  background-color: #EEEEEE;
  margin-left: 200px;
  font-size: 1rem;
  border-left: 3px solid gray;
}
#m_search{
  background-color: lightgrey;
  padding : 3px; margin: 0px;
  border-bottom: 3px solid gray;
}
article{
  padding: 10px;
  padding-left: 30px;
}
footer{
  font-size: 1rem;
  color: white;
  background-color: #333333;
  border-top: 3px solid gray;
  position: relative;
  min-width: 100%;
}
.write_button{
  float: right;
  margin: 3px;
  margin-right: 10px;
}
#test_button{
  text-align: right;
}



/*테스트 온*/
.test aside{background-color:limegreen;}
.test #m_search{background-color: steelblue;}
.test section{background-color: orange;}
.test footer{background-color: purple;}
.test header{background-color: darkblue;}
.test{background-color: yellow;}
