header{
  border-bottom: 3px solid gray;
  text-align: right;
}
aside{
  float: left;
  width: 170px; height: 300px;
  border-right: 3px solid gray;
  padding: 5px; margin: 0px;
}
section{
  padding: 10px; margin: 0px; border: 0px;
}
footer{
}
#search_side{
  padding : 10px; margin: 0px
}
/*테스트 온*/
body.test header{background-color: yellow;}
body.test aside{background-color:limegreen;}
body.test section{background-color: orange;}
body.test footer{background-color: pink;}
body.test #m_search{background-color: steelblue;}
/***********************************************/
#header_h{float: left;}
#main_img{padding: 20px;}
#M_list {font-weight: bold;}
#S_list {color: black; text-decoration: overline;}
#test_button{text-align: right;}
/***********************************************/
